body {
    background-color: black
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #e0e0e0;
    margin: 5px 0;
}
/* styles.css */

/* Reset default margins/paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
  }
  
  header li {
    margin: 0 15px;
  }
  
  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  